@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #021526;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	width: 100vw;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.child {
		@apply rounded-lg bg-white p-4;
		width: calc(100% / 3 - 2%);
	}
}

.container {
	display: grid;
	grid-template-rows: 160px auto 80px;
	grid-gap: 1rem;
}

.bento {
	display: grid;
	grid-gap: 1rem;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(340px, auto));
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.bento-item {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 2rem;
	padding: 1.5rem 2rem;
	position: relative;
	overflow: hidden;
}

.bento-two-cols {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 1rem;
}

.bento-two-cols > * {
	background-color: #fff;
	border-radius: 2rem;
	padding: 1.5rem 2rem;
}

.bento-git {
	grid-column: span 1;
}

::-webkit-scrollbar {
	display: none;
}
@media (min-width: 1325px) {
	.bento {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: minmax(640px, 700px) 360px;
	}
	.bento-git {
		grid-column: span 2;
	}
}

@media (min-width: 768px) and (max-width: 1324px) {
	.bento {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: minmax(600px, 640px) 360px;
	}
	.bento-git {
		grid-column: span 2;
	}
}
